@import "tailwindcss";

:root {
  /* Base Colors */
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(95% 0 0);
  --color-base-content: #131010;

  /* Theme Colors */
  --color-primary: #ff5722;
  --color-primary-content: #f1f1f1;
  --color-secondary: oklch(65% 0.241 354.308);
  --color-secondary-content: #f1f1f1;
  --color-accent: #ffc522;
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: #f1f1f1;

  /* Status Colors */
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: #ffc522;
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: #c2003e;
  --color-error-content: #f1f1f1;

  /* Border Radius */
  --rounded-btn: 1rem;
  --rounded-box: 1rem;
  --rounded-badge: 1.9rem;

  /* Animation */
  --animation-btn: 0.25s;
  --animation-input: 0.2s;
  --btn-focus-scale: 0.95;
}

body {
  background: var(--color-base-100);
  color: var(--color-base-content);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

* {
  scroll-behavior: smooth;
}
